<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
	<title>List of Recipes - Main Page</title>
	
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	    crossorigin="anonymous" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}">
	    
	<!-- Fontawesome CSS for icons -->    
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
	    crossorigin="anonymous">
	    
	<!-- Google Fonts CSS for Fonts -->    	    
	<link href="https://fonts.googleapis.com/css?family=Alex+Brush|Chewy|Dancing+Script|Indie+Flower|Italianno|Tangerine" rel="stylesheet"/>
	
	<!-- Custom CSS -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/default.css}" />
</head>

<body>
	<form class="fb-toplabel fb-100-item-column selected-object" id="docContainer">
		<div class="fb-form-header">
		</div>
		<div class="section" id="section1">
			<div class="column ui-sortable">
				<div class="fb-item fb-100-item-co	lumn">
					<div class="fb-header fb-item-alignment-center">
						<h2 style="display: inline;">List of Recipes</h2>
					</div>
				</div>
				<div class="emptyContainer50"></div>
				<div class="table-responsive" th:if="${not #lists.isEmpty(recipes)}">
					<div class="row float-right">
						<a class="btn btn-lg" style="color:tomato;" th:href="@{/recipe/new}" th:title="'Add New Recipe'"><i class="fas fa-plus"></i></a>
					</div>
					<table class="table table-hover">
						<thead class="thead-inverse">
							<tr>
								<th>
									<div class="fb-static-text fb-item-alignment-left">
										<h3>Id</h3>
									</div>
								</th>
								<th>
									<div class="fb-static-text fb-item-alignment-left">
										<h3>Description</h3>
									</div>
								</th>
								<th>
									<div class="fb-static-text fb-item-alignment-left">
										<h3>Difficulty</h3>
									</div>
								</th>
								<th>
									<div>
										<h3>Modify</h3>
									</div>
								</th>
								<th>
									<div>
										<h3>Delete</h3>
									</div>
								</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="recipe:${recipes}">
								<td>
									<h4 class="myFont fb-item-alignment-left" th:text="${recipe.id}">21</h4>
								</td>
								<td>
									<h4 class="myFont fb-item-alignment-left">
										<a th:href="@{'/recipe/'+${recipe.id}+'/show'}" th:text="${recipe.description}">description</a>
									</h4>
								</td>
								<td>
									<h5 class="myFont fb-item-alignment-left" th:text="${recipe.difficulty}">difficulty</h5>
								</td>
								<td>
									<h4 class="fb-item-alignment-center">
										<a class="btn bs-confirmation fas fa-edit updateCheckBox" th:href="@{'/recipe/'+${recipe.id}+'/update'}" th:title="'Modify Recipe.'"></a>
									</h4>
								</td>
								<td>
									<h4 class="fb-item-alignment-center">
										<a class="btn bs-confirmation fas fa-times" th:href="@{'/recipe/'+${recipe.id}+'/delete'}" th:title="'Delete Recipe ?'" data-toggle="confirmation"></a>
									</h4>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="emptyContainer200"></div>
			<div class="fb-footer" id="fb-submit-button-div">
				<div class="fb-submit-button-div fb-item-alignment-center">
					<h4>
						<a th:href="@{/recipe/new}">Add New Recipe</a>
					</h4>
				</div>
			</div>
		</div>
	</form>
	
	<!-- SCRIPTS -->
	<!-- (jQuery first, then Popper.js, then Bootstrap JS )-->
	<!-- JQuery -->	
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	
	<!-- Bootstrap tooltips (Popper) -->
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.5/umd/popper.js"></script>
  	
  	<!-- Bootstrap core JavaScript -->
  	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  	
  	<!-- Bootstrap-confirmation JavaScript -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap-confirmation2/dist/bootstrap-confirmation.min.js"></script>
	<script>
	//console.log('Bootstrap ' + $.fn.popover.Constructor.VERSION);
	//console.log('Bootstrap Confirmation ' + $.fn.confirmation.Constructor.VERSION);
	
	$('[data-toggle=confirmation]').confirmation({
	    rootSelector: '[data-toggle=confirmation]',
	    container: 'body'
	  });
	
	</script>		
</body>
</html>
