<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	    crossorigin="anonymous" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}">
	<script src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Alex+Brush|Chewy|Dancing+Script|Indie+Flower|Italianno|Tangerine" rel="stylesheet"
	/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/default.css}" />
	<title>List of Recipes - Main Page</title>
</head>

<body>
	<form action="" class="fb-toplabel fb-100-item-column selected-object" id="docContainer">
		<div class="fb-form-header">
		</div>
		<div class="section" id="section1">
			<div class="column ui-sortable">
				<div class="fb-item fb-100-item-column">
					<div class="fb-header fb-item-alignment-center">
						<h2 style="display: inline;">List of Recipes</h2>
					</div>
				</div>
				<div class="emptyContainer50"></div>
				<div class="table-responsive" th:if="${not #lists.isEmpty(recipes)}">
					<table class="table table-hover">
						<thead class="thead-inverse">
							<tr>
								<th>
									<div class="fb-static-text fb-item-alignment-left">
										<h3>Recipe Id</h3>
									</div>
								</th>
								<th>
									<div class="fb-static-text fb-item-alignment-left">
										<h3>Description</h3>
									</div>
								</th>
								<th>
									<div class="fb-static-text fb-item-alignment-left">
										<h3>Category</h3>
									</div>
								</th>
								<th>
									<div class="fb-static-text fb-item-alignment-left">
										<h3>Difficulty</h3>
									</div>
								</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="recipe:${recipes}">
								<td>
									<h4 class="myFont fb-item-alignment-left" th:text="${recipe.id}">21</h4>
								</td>
								<td>
									<h4 class="myFont fb-item-alignment-left">
										<a th:href="@{'/recipe/'+${recipe.id}+'/show'}" th:text="${recipe.description}">description</a>
									</h4>
								</td>
								<td>
									<h4 class="myFont fb-item-alignment-left" th:each="category, stat : ${recipe.categories}" th:text=" ${recipe.categories[__${stat.index}__].categoryName} +  (${stat.size-1 > stat.index}? ',':'') ">
										Category</h4>
								</td>
								<td>
									<h4 class="myFont fb-item-alignment-left" th:text="${recipe.difficulty}">difficulty</h4>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="emptyContainer200"></div>
			<div class="fb-footer" id="fb-submit-button-div">
				<div class="fb-submit-button-div fb-item-alignment-center">
					<h4>
						<a th:href="@{/recipe/new}">Add New Recipe</a>
					</h4>
				</div>
			</div>
		</div>
	</form>
</body>

</html>
